
#eventsList {
    background-color: var(--elements-gray);
}

/* CSS Mobile (portrait) */
@media only screen and (max-width: 480px) {
    #eventsList {
        padding: 0 7px 7px 7px;
        height: 480px;
        overflow: scroll;
    }
}    

/* CSS Desktop */

@media only screen and (min-width: 1280px) {

}


@media only screen and (min-width: 1600px) {

}