.container {
    background-color: var(--primary-purple);
    color: var(--elements-white);
    overflow: hidden;
}

.container main, header nav, #home, #events, #about {
    max-width: 1440px;
    margin: 0 auto;
}

header, .home-images img, .events-images img, #about > div {
    box-shadow: var(--shadow);
}

#home, #events, #about {
    padding: 100px;
}

@media only screen and (max-width: 480px) {
    #home, #events, #about {
        padding: 50px 0;
        margin: 0;
    }
}