#home-index-buttons {
  display: flex;
  align-items: center;
  gap: 12px;

  position: absolute;
  top: 90%;
}

#home-index-buttons button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--elements-white);
  cursor: pointer;
  color: transparent;
}

.index-button-events {
  width: 50px;
  height: 50px;
  border: 3px solid var(--elements-border);
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;

  font-size: 14px;
  font-weight: bold;
}

.index-button {
  width: 40px;
  height: 40px;
}

.index-button:hover {
  background-color: var(--elements-border);
}

.index-button:active {
  transform: scale(0.9);
}

/* CSS Mobile (portrait) */
@media only screen and (max-width: 480px) {
}
