#home-index-buttons {
  display: flex;
  align-items: center;
  gap: 12px;

  position: absolute;
  top: 90%;
}

#home-index-buttons button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--elements-white);
  cursor: pointer;
  color: transparent;
}


#home-index-buttons button.unfocused {
  background-color: var(--unfocused-gray);
}

.index-button {
  width: 50px;
  height: 50px;
  border: 3px solid var(--elements-border);
  border-radius: 8px;

  cursor: pointer;
  transition: background-color .3s, transform .1s;

  font-size: 14px;
  font-weight: bold;
}

.index-button:hover {
  background-color: var(--elements-border);
}

.index-button:active {
  transform: scale(.9);
}

/* CSS Mobile (portrait) */
@media only screen and (max-width: 480px) {

}
